*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    display: grid;
    grid-template-columns:150px calc(100vh);
    grid-template-rows: 75px max-content;
}

.header{
 grid-area:1/1/2/4 ;
 font-size: 48px;
 color: black;
 font-weight: 700;
 padding: 15px;
 display: flex;
 justify-content: center;
 align-items: center;
}
.links{

 position: fixed;
 width: 150px;
 height: 100vh;
    font-size: 24px;
background:rgba(220,200,180,0.4);
display: grid;
align-items: center;

text-align: center;
}
.links ul{
    list-style-type: none;
    display: grid;
    gap: 124px;
}
.links a{
    text-decoration: none;
    color:black;
    padding: 15px;
}
.links a:hover{
    color:#999;
    font-size: 20px;
}
.main{
    padding: 36px;
grid-area: 2/2/4/4 ;
background-color: lightcyan;
}